.resize-1
{
  
  min-height: 70px;
  width: auto;
  max-height: 70px;
  border-radius: 50%;
  border: none;
}

.resize-2
{
  min-height: 70px;
  width: auto;
  max-height: 70px;
  border-radius: 50%;

}

#size
{
min-height: 10rem;
max-height: 15rem; 
}


.resize-2:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
  
} 
.resize-1:hover
{
opacity: 40%;
}


#mail,#dail
{
  color:aliceblue;
}
#mail:hover
{

  text-decoration: none;
  opacity: 50%;

}

#dail:hover
{

  text-decoration: none;
  opacity: 50%;

}

